* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #1C1B1A;
	height: 100%;
	color: white;
}

p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 335px;
	margin-right: 70px;
}


#footer {
	margin-top: 500px;
}

 h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
	margin-top: 200px;
}

#logoOHS {
	position: absolute;
	
	margin-top: 20px;
}

#catLogo {
	position: absolute;
	margin-left: -20px;
}


.snuggler_buttons {
	position: absolute;
	display: table;
	width: 100%;
	vertical-align: middle;
}

.snuggler_buttons .btn-default{
	background-color: #E94B28;
	font-family: Arial;
	font-style: bold;
	font-size: 19px;
	color: white;
	padding-right: 20px;
	width: 220px;
	display: table-cell;
	vertical-align: middle;
}


/* MEDIA QUERIES ========================================== */


@media (max-width: 1199px) {
	#catLogo {
		margin-left: -30px;
	}
	p {
		margin-top: 280px;
		margin-right: -25px;
	}
		h2 {
		margin-left: -16px;
	}
}

@media (max-width: 991px) {
	#logoOHS {
	 margin-left: -15px;		
	}
	#catLogo {
		margin-left: -50px;
	}
	p {
		font-size: 20px;
		margin-top: 215px;
		margin-left: -45px;
		margin-right: 15px;	
	}
}

@media (max-width: 768px) {
	.snuggler_buttons .btn-default{
		padding-right: 20px;
		width: 150px;
	}
}



