* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #005D77;
	height: 100%;
	color: white;
}

p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 150px;
	margin-left: 45px;
	margin-right: 40px;
}

#footer {
	height: 400px;
	background-color: #005D77;
	margin-right: auto;
	margin-left: auto;
	text-align: top;

}

h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
	
	margin-top: 150px;
}

#cautiousLogo {
	position: absolute;
	margin-top: 20px;
	margin-left: 80px;
	width: 150%;

}

#logoOHS {
	margin-top: 20px;
	margin-left: -50px;
}
.dashCapeBtns {
	position: absolute;
	display: table;
	width: 100%;
	width: 220px;
	height: 50px;
	vertical-align: middle;
}

.dashCapeBtns .btn-default{
	background-color: #E94B28;
	font-family: Arial;
	font-style: bold;
	font-size: 19px;
	color: white;
	padding-right: 20px;
	width: 220px;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}


/* MEDIA QUERIES ========================================== */

@media (max-width: 1199px) {
	#cautiousLogo {
	 	margin-left: 45px;
	}
	#logoOHS {

		margin-left: -20px;	
	}
	p {
	 	margin-top: 105px;
	 	margin-left: 10px;
	 	margin-right: 40px;
	}	
}

@media (max-width: 991px) {
	#cautiousLogo {
	 	margin-left: 25px;
	}
	#logoOHS {
		width: 80%;
		margin-left: -20px;	
	}
	p {
	 	margin-top: 70px;
	 	margin-left: -8px;
	 	margin-right: 55px;
	 	font-size:20px;
	}
}

@media (max-width: 870px) {
	#barkerLogo {
	 	margin-left: -20px;
	}
	#logoOHS {

		margin-left: -20px;	
	}
}


@media (max-width: 768px) {
	.snuggler_buttons .btn-default{
		padding-right: 20px;
		width: 150px;
	}
}

*/


