* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #D3D800;
	height: 100%;
}

p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 480px;
	margin-left: 115px;
}


#footer {
	margin-top: 500px;
}

 h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
}

#logoOHS {
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;
}

#enthusLogo {
	position: absolute;
	padding-right: 50px;
}


.snuggler_buttons {
	position: absolute;
	display: table;
	width: 100%;
	vertical-align: middle;
}

.snuggler_buttons .btn-default{
	background-color: #E94B28;
	font-family: Arial;
	font-style: bold;
	font-size: 19px;
	color: white;
	padding-right: 20px;
	width: 220px;
	display: table-cell;
	vertical-align: middle;
}


/* MEDIA QUERIES ========================================== */

@media (max-width: 1199px) {
	p {
		margin-top: 390px;
		margin-left: 140px;
		margin-right: 50px;
	}
}

@media (max-width: 991px) {
	#logoOHS {
		width: 120%;
		margin-left: 30px;	
	}

	p {
		margin-top: 290px;
		margin-left: 145px;
	}

	h2 {
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.snuggler_buttons .btn-default{
		padding-right: 20px;
		width: 150px;
	}
}




