* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #D3D800;
	height: 100%;
}

.enthus {
	margin: 0 auto;
	max-width: 960px;
}
p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 480px;
	margin-left: 115px;
}

.quizLink {
	color: #E4007E;
}

#footer {
	margin-top: 500px;
}

 h2 {
 	text-align: center;
	font-family: 'Wendy One', sans-serif;
	font-size: 30px;
	margin-top: 25px;
}

#logoOHS {
	position: absolute;
	z-index: 1;
	margin-left: 50px;
	margin-top: 20px;
}

#enthusLogo {
	position: absolute;
	z-index: 0;
	padding-right: 50px;
}

.snuggler_buttons {	
	vertical-align: middle;
	margin-top: 30px;

}



/* MEDIA QUERIES ========================================== */

@media (max-width: 1199px) {
	p {
		margin-top: 390px;
		margin-left: 125px;
		margin-right: 75px;
	}
}

@media (max-width: 991px) {
	#logoOHS {
		margin-left: 30px;	
	}


	.snuggler_buttons {
		margin-left: 10px;
		margin-right: 10px;
	}

	p {
		margin-left: 80px;
		margin-right: 50px;
	}

}


@media (max-width: 767px) {
	#enthusLogo {
		margin-left: 190px;
		padding-right: 0px;
	}
	#logoOHS {
		width: 35%;
		margin-left: 175px;
	}
	h2 {
		margin-bottom: 40px;
	}
}

@media (max-width: 720px) {
	#enthusLogo {
		margin-left: 150px;
	}
}

@media (max-width: 640px) {
	#enthusLogo {
		margin-left: 130px;
	}
	#logoOHS {
		width: 45%;
		margin-left: 120px;
	}
}

@media (max-width: 580px) {
	#enthusLogo {
		margin-left: 110px;
	}
	#logoOHS {
		width: 45%;
		margin-left: 110px;
	}
}

@media (max-width: 540px) {
	#enthusLogo {
		margin-left: 90px;
	}
	p {
		margin-left: 25px;
		margin-right: 25px;
	}

}

@media (max-width: 500px) {
	#enthusLogo {
		margin-left: 60px;
	}
	#logoOHS {
		width: 45%;
		margin-left: 75px;
	}
}
@media (max-width: 455px) {
	#enthusLogo {
		margin-left: 25px;
	}
}

@media (max-width: 400px) {
	#enthusLogo {
		margin-left: 5px;
	}
	p {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 380px;
	}
	#logoOHS {
		width: 55%;
		margin-left: 40px;
	}
}
