/****
*****
***** GLOBAL STYLES
*****
*****/

/*  apply a natural box layout model to all elements  for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 20px;
}

h2 {
	margin: 15px 0;
	font-family: "Cooper Black", Arial, sans-serif;
	font-weight: bold;
	font-size: 26px;
}

label {
	cursor: pointer;
}

/*
** End Global Styles
*/

.main_header {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.main_header img {
	width: 100%;
}

.image_group {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

.image_group img {
	max-width: 100%;
}

.questions {
	width: 100%;
	max-width: 690px;
	margin: auto;
}

.answer {
	padding-bottom: 15px;
	padding-left: 27px; /* padding-left and text-indent have to be the same but text-indent negative */
	text-indent: -27px;
	line-height: 1.2;
}


/* MEDIA QUERIES ========================================== */

@media (max-width: 991px) {

}

@media (max-width: 684px) {
}

@media (max-width: 474px) {
}