/****
*****
***** GLOBAL STYLES
*****
*****/

/*  apply a natural box layout model to all elements  for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 20px;
}

h2 {
	margin: 5px 0 15px 0;
	font-family: "Cooper Black", Arial, sans-serif;
	font-weight: bold;
	font-size: 26px;
}

label {
	cursor: pointer;
}

input[type=radio] {
	position: absolute;
	left: -9999px;
}

/*
** End Global Styles
*/

.main_header {
	width: 100%;
	max-width: 992px;
	padding: 0 20px;
	margin: 20px auto 0 auto;
}

.main_header img {
	width: 100%;
}

.image_group {
	width: 100%;
	max-width: 690px;
	margin: auto;
	text-align: center;
}

.image_group img {
	max-width: 100%;
}

.stars_line {
	margin: 25px 0;
}

.stars_line-header {
	padding: 0 20px;
	margin: 10px 0 15px 0;
}

.questions {
	width: 100%;
	max-width: 710px;
	padding: 0 20px;
	margin: auto;
}

.question {
	padding-left: 10px;
}

.answer {
	position: relative;
	padding: 10px 5px 10px 35px;
	line-height: 1.2;

	-ms-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.answer:hover {
	background: #f8f8f8;
}

.answer label:before {
    content:"";
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 5px;
    width: 25px;
    height:25px;
    background-image:url(../img/formelements.png);
}

.answer-first {
	padding-top: 0;
}

.answer-first label:before {
	padding-top: 0;
	top: -1px;
}

/* Checked Neutral State */
.answer label:before {
	background-position: -25px -25px;
}

/* Checked Position */
.answer-checked label:before {
	background-position: -25px 0;
}

#quiz_submit {
	cursor: pointer;
}


/* MEDIA QUERIES ========================================== */

@media (max-width: 991px) {

}

@media (max-width: 684px) {
}

@media (max-width: 474px) {
}