* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #523486;
	height: 100%;
	color: white;
}

p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 411px;
	margin-left: -33px;
	margin-right: 70px;
}


#footer {
	margin-top: 500px;
}

 h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
	margin-top: 25px;
}

#logoOHS {
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;
}

#enthusLogo {
	position: absolute;
	padding-right: 50px;
}


.snuggler_buttons {
	position: absolute;
	display: table;
	width: 100%;
	vertical-align: middle;
}

.snuggler_buttons .btn-default{
	background-color: #E94B28;
	font-family: Arial;
	font-style: bold;
	font-size: 19px;
	color: white;
	padding-right: 20px;
	width: 220px;
	display: table-cell;
	vertical-align: middle;
}


/* MEDIA QUERIES ========================================== */


@media (max-width: 1199px) {
	#logoOHS {
		margin-left: 0px;	
	}
	p {
		margin-top: 340px;
	}
		h2 {
		margin-left: -16px;
	}
}

@media (max-width: 991px) {
	#logoOHS {
	 margin-left: -15px;		
	}
	#enthusLogo {
		position: absolute;
		padding-right: 0px;
		margin-left: -46px;
	}
	p {
		font-size: 20px;
		margin-top: 270px;
		margin-left: -60px;
		margin-right: 0px;	
	}
}

@media (max-width: 768px) {
	.snuggler_buttons .btn-default{
		padding-right: 20px;
		width: 150px;
	}
}

