* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #A7C9D2;
	height: 100%;
}

p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 440px;
	margin-left: 20px;
}


#footer {
	margin-top: 500px;
}

 h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
	margin-top: 22px;
}

#logoOHS {
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;
}

#logoOHSmobile {	
	position: absolute;
	margin-top: 20px;
	padding-right: 20px;

}

#snugglerLogo {
	position: absolute;
	padding-right: 20px;
}
 
 
#snugglerLogoMobile {
	position: absolute;
	width: 500px;
	margin-top: 50px;
	
}

.textMobile {
	position: relative;
	
}

.snuggler_buttons {	
	vertical-align: middle;
}

.topButtons {
	padding-bottom: 30px;
	margin-top: 10px;

}


/* MEDIA QUERIES ========================================== */

@media (max-width: 1199px) {
	p {
		margin-top:370px;
	}
	h2 {
		margin-left: -16px;
	}
}

@media (max-width: 991px) {
	p {
		margin-top:285px;
	}
}


@media (max-width: 768px) {		 
	p {
		margin-top: 400px;
	}
	.snuggler_buttons {
		margin-left: -80px;
	}
}

@media (max-width: 610px) {
	p {
		margin-top: 360px;
	} 
}
@media (max-width: 540px) {
	p {
		margin-top: 320px;
	} 
	.snuggler_buttons {
		margin-left: -100px;
	}
	h2 {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 460px) {
	p {
		margin-top: 280px;
	} 
	.snuggler_buttons {
		width: 80px;
		margin-left: 80px;
	}
	.topButtons {
		padding: 0px;
		margin-top:0px;
	}
	.btn {
		margin-bottom: 3px;
	}
}

@media (max-width: 430px) {
	p {
		margin-top: 260px;
	}
	.snuggler_buttons {
		margin-left: 50px;
	}
}
/*@media (max-width: 500px) {
	#logoOHSmobile {
	position: absolute;
	margin-top: 30px;

}
}

*/

