* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #A7C9D2;
	height: 100%;
}

p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 525px;
	margin-left: 20px;
	margin-right: 20px;
}


#footer {
	margin-top: 500px;
}

 h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
	margin-top: 22px;
	margin-left: 20px;
	margin-right: 20px;
}

#logoOHS {
	position: absolute;
	z-index: 1;
	margin-left: 50px;
	margin-top: 20px;
}

#logoOHSmobile {	
	position: absolute;
	z-index: 1;
	top: 0;
	right:0;
	margin-top: 30px;
	margin-right: 40px;
	padding-right: 20px;
}

#snugglerLogo {
	position: absolute;
	z-index: 0;
	padding-right: 20px;
}
 
 
#snugglerLogoMobile {
	position: absolute;
	z-index: 0;
	width: 480px;
	margin-top: 100px;
	
}

.snuggler_buttons {	
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 40px;
}

.topButtons {
	padding-bottom: 30px;
	margin-top: 10px;
}

.tinyButtons {
	
	margin-left: -30px;
}

.snuggler_buttonsSM {
	margin-left: 200px;
	margin-right: 150px;
}


/* MEDIA QUERIES ========================================== */

@media (max-width: 1250px) {
	p {
		margin-top: 510px;
	}

	.snuggler_buttons {
		margin-top: 20px;
	}
}


@media (max-width: 1199px) {
	p {
		margin-top:490px;
	}

}

@media (max-width: 1140px) {
	p {
		margin-top:465px;
	}
}

@media (max-width: 1095px) {
	p {
		margin-top:445px;
	}
}

@media (max-width: 1050px) {
	p {
		margin-top:425px;
	}
}

@media (max-width: 991px) {

	p {
		margin-top:400px;
	}

}

@media (max-width: 945px) {
	p {
		margin-top:375px;
	}
}

@media (max-width: 880px) {
	p {
		margin-top:350px;
	}
}

@media (max-width: 810px) {
	p {
		margin-top:330px;
	}
}

@media (max-width: 768px) {		 

	p {
		margin-top:440px;
		padding-right: 10px;
	}
	#logoOHSmobile {	
		width: 80%;
	}
}


@media (max-width: 645px) {
	p {
		margin-top: 435px;
	} 
}


@media (max-width: 610px) {
	p {
		margin-top: 415px;
	} 
	#logoOHSmobile {	
		width: 100%;
		margin-right: 20px;
		margin-top: 20px;
	}
}

@media (max-width: 540px) {
	p {
		margin-top: 400px;
	} 

	#snugglerLogoMobile {
		margin-top: 120px;
	}
}

@media (max-width: 500px) {
	p {
		margin-top: 365px;
	} 
}

@media (max-width: 455px) {
	p {
		margin-top: 365px;
	} 
}

@media (max-width: 440px) {
	p {
		margin-top: 325px;
		margin-left: 40px;
	} 
	#snugglerLogoMobile {
		margin-top: 100px;
	}
}

@media (max-width: 400px) {
	p {
		margin-top: 300px;
	} 
}

@media (max-width: 350px) {
	p {
		margin-top: 280px;
	} 
}


