* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
}

html, body {
	background: #FFD400;
	height: 100%;
}

.wag {
	margin: 0 auto;
	max-width: 991px;
}



p {
	font-family: Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 80px;
	margin-left: -50px;
	margin-right: 30px;
}


 h2 {
	text-align: center;
	font-family: "Cooper Black", Arial, sans-serif;
	font-size: 30px;
	margin-top: 40px;
}

#logoOHS {
	position: absolute;
	margin-top: 250px;
	margin-left: -75px;

}


#logoOHSTiny {
	position: absolute;
	margin-top: 250px;
}

#wagLogo {
	position: absolute;
	margin-left: -55px;
}

#wagLogoMobile {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

.wagButtons {
	margin-top: 305px;
	margin-left: 40px;
}

.bottomBtns {
	margin-top: 20px;
}


/* MEDIA QUERIES ========================================== */

@media (max-width: 1099px) {
	#wagLogo {
		max-width: 85%;
		margin-left: 0px;
	}
	p {
		font-size: 20px;
		margin-top: 50px;
	}
	.wagButtons {
		margin-top: 270px;		
	}

	#logoOHS {
		margin-top: 230px;
		margin-left: -150px;
	}
	h2 {
		margin-left: 20px;
		margin-right: 20px;
	}

}

@media (max-width: 970px) {
	#wagLogo {
		margin-top: 25px;
	}
}

@media (max-width: 915px) {
	.wagButtons {
		margin-top: 220px;		
	}

	#logoOHS {
		margin-top: 195px;
		margin-left: -130px;
	}
}

@media (max-width: 884px) {
	#wagLogo {
		margin-top: 40px;
	}
}

@media (max-width: 840px) {
	.wagButtons {
		margin-top: 210px;		
	}

	#logoOHS {
		margin-top: 180px;
		margin-left: -115px;
	}
}

@media (max-width: 780px) {
	p {
		margin-top: 35px;
	}
}

@media (max-width: 767px) {
	p {
		margin-top: 375px;
		margin-left: 30px;
		margin-right: 30px;
	}
	#wagLogoMobile {
		margin-left: 210px;
}

	#logoOHSTiny {
		width: 60px;
		margin-top: 150px;
		margin-left: 205px;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}

@media (max-width: 640px) {	
	#wagLogoMobile {
		margin-left: 165px;
}
	#logoOHSTiny {
		margin-left: 160px;
	}
}
@media (max-width: 539px) {	
	#wagLogoMobile {
		margin-left: 145px;
}
	#logoOHSTiny {
		margin-left: 140px;
	}
}

@media (max-width: 498px) {	
	#wagLogoMobile {
		margin-left: 125px;
}
	#logoOHSTiny {
		margin-left: 120px;
	}
}

@media (max-width: 455px) {	
	#wagLogoMobile {
		margin-left: 110px;
}
	#logoOHSTiny {
		margin-left: 105px;
	}
}

@media (max-width: 438px) {	
	#wagLogoMobile {
		margin-left: 100px;
}
	#logoOHSTiny {
		margin-left: 95px;
	}
}

@media (max-width: 427px) {	
	#wagLogoMobile {
		margin-left: 85px;
}
	#logoOHSTiny {
		margin-left: 80px;
	}
}

@media (max-width: 400px) {	
	#wagLogoMobile {
		margin-left: 45px;
}
	#logoOHSTiny {
		margin-left: 35px;
	}
}




