<!DOCTYPE html>
<html lang="en">
<head>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "universal", :media => "all" %>
    <%= javascript_include_tag 'html5shiv-printshiv' %>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="js/main.js" data-main="js/main" type="text/javascript" charset="utf-8"></script>

  <title>Doggie Dash - Oregon Humane Society</title>
</head>

<body>
  <div id="quizapp">
    <div id="header">
      <img src="img/quiz/SuperQuiz_Header.jpg" alt="Doggie Dash Super Quiz">
    </div>
      <!--<a class="btn btn-success" id="startButton" role="button">Start Quiz Now!</a> -->
      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">
    
    <div class="questions"> 
      <div id="question1">
        <h3>Your human sidekick has come home! Yayyyyy! How do you greet him or her?</h3>
        <div class="answers">
          <div class="answerA">
            <input type="radio" name="question1" value="1">  I hop off the sofa, waddle over and lie happily right on their feet.</input>
          </div>
          <div class="answerB">
            <input type="radio" name="question1" value="1">  BARKING AT THE TOP OF MY LUNGS! LOUDNESS IS THE FINEST FORM OF LOVE!</input>
          </div>  
          <div class="answerC">
            <input type="radio" name="question1" value="1">  I jump as high as I can! So high! Again, and again, and again! Jumping! Ahhh, human is home!</input>
          </div>     
          <div class="answerD">
            <input type="radio" name="question1" value="1">  I immediately bury my nose in him or her. How else will I know what they&#8217ve been doing all day?</input>
          </div>
          <div class="answerE">
            <input type="radio" name="question1" value="1">  I start wagging my tail, and then am so happy that I have to wriggle my butt a little bit too. Oooh … did I just knock something over?</input>
          </div>
          <div class="answerF">
            <input type="radio" name="question1" value="1">  I had been hiding under the bed, just in case it was a bad guy disguised as my human, but when I see it&#8217s them I can calm down … a little.</input>
          </div>
          <div class="answerG">
            <input type="radio" name="question1" value="1">  Who? Ah, that foolish human. He or she is not worth my notice … until it is dinner time.</input>
          </div>
        </div>  
      </div>

      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">
      <br>
      <img src="img/FlyingDoggie.gif" class="img-responsive" alt="Flying Dog">
      <br>
      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">

      <div id="question2">
        <h3>What is your favorite part of going on a walk?</h3>
          <div class="answers">
            <div class="answerA">
              <input type="radio" name="optionsRadios" value="2">  You know, I&#8217m not much of a walker. I&#8217m built for comfort, not speed.</input>
            </div>
            <div class="answerB">  
              <input type="radio" name="optionsRadios" value="2">  SAYING GOOD MORNING TO EVERYONE AND EVERYTHING. HELLO, GOOD MORNING, I&#8217M A DOG!!</input>
            </div>
            <div class="answerC"> 
              <input type="radio" name="optionsRadios" value="2">  Oh my gosh, all of it! The best is when I see something slightly out of the ordinary, which is every five minutes, and tear off at top speed. What is this mysterious thing?!?</input>
            </div>
            <div class="answerD">  
              <input type="radio" name="optionsRadios" value="2">  Smelling each and every leaf, pebble, person, dog, patch of dirt, blade of grass ...</input>
            </div>
            <div class="answerE">  
              <input type="radio" name="optionsRadios" value="2">  Being with my human sidekick!  </input>
            </div>
            <div class="answerF">  
              <input type="radio" name="optionsRadios" value="2">  I like walks, but they're kind of … stressful. So much to take in. So many threats. Must remain vigilant!</input>
            </div>
            <div class="answerG">  
              <input type="radio" name="optionsRadios" value="2">  Ugh, what? You want me to go where? With you? I think not.</input>
            </div>
          </div>
      </div>

      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">
      
      <div id="question3">
        <h3>A delivery man approaches the front door. He may be a bad guy! What do you do to protect your human?</h3>
        <div class="answers">
          <div class="answerA">
            <input type="radio" name="optionsRadios" value="3">  I pick up my head from my human&#8217s lap and look at him. Eh, he seems ok.</input>
          </div>
          <div class="answerB">
            <input type="radio" name="optionsRadios" value="3">  I BARK AS LOUD AS I CAN TO LET HIM KNOW THAT HE WILL NOT BE MESSING WITH MY HUMANS TODAY! NO SIR!</input>
          </div>
          <div class="answerC">
            <input type="radio" name="optionsRadios" value="3">  I run around the coffee table three times, yipping to alert my humans that something has changed. I run to the door, then run back to the sofa, then run to my humans. Time is of the essence!</input>
          </div>
          <div class="answerD">
            <input type="radio" name="optionsRadios" value="3">   I inhale deeply, then start to growl.</input>
          </div>
          <div class="answerE">
            <input type="radio" name="optionsRadios" value="3">  Growl threateningly, until my humans tell me it&#8217s OK. Then, it&#8217s a new person to meet!</input>
          </div>
          <div class="answerF">
            <input type="radio" name="optionsRadios" value="3">   I watch everything from the safety of behind the couch. Nothing can hurt me when I&#8217m behind the couch!</input>
          </div>
          <div class="answerG">
            <input type="radio" name="optionsRadios" value="3">  As soon as I heard footsteps approaching, I headed straight to my underbed lair to wait and plot. No need to involve myself in this human foolishness. No. I have plans … big plans.</input>
          </div>
        </div>
      </div>

      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">
      <br>
      <img src="img/bugEater.gif" class="img-responsive" alt="Chihuaha eating bug">
      <br>
      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">

      <div id="question4">
        <h3>What's your ideal Saturday morning?</h3>
        <div class="answers">
          <div class="answerA">
            <input type="radio" name="optionsRadios" value="answerA">  Laying in bed with my human, maybe catching up on some zzz&#8217s. I only got 20 hours of sleep yesterday!</input>
          </div>
          <div class="answerB">
            <input type="radio" name="optionsRadios" value="answerB">  ANYTHING AS LONG AS NO ONE TELLS ME TO BE QUIET AND I CAN SAY ALL THE IMPORTANT DOG THINGS I NEED TO SAY!</input>
          </div>
          <div class="answerC">
            <input type="radio" name="optionsRadios" value="answerC">  Zipping back and forth at top speeds to stay in peak physical form.</input>
          </div>
          <div class="answerD">
            <input type="radio" name="optionsRadios" value="answerD">  Heading out on a hike. So many smells!</input>
          </div>
          <div class="answerE">
            <input type="radio" name="optionsRadios" value="answerE">  Anywhere, as long as it&#8217s with my person. But I never say no to playing fetch!</input>
          </div>
          <div class="answerF">
            <input type="radio" name="optionsRadios" value="answerF">  A nice, quiet day in my backyard. Nothing is scary back here, because it&#8217s my place!</input>
          </div>
          <div class="answerG">
            <input type="radio" name="optionsRadios" value="answerG">  Days of the week mean nothing to me … I pursue my fearsome goal singlemindedly, never stopping, never flinching. </input>
          </div>
        </div>
      </div>

      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">
      <br>
      <img src="img/laserEyes.gif" class="img-responsive" alt="stars">
      <br>
      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars">

      <div id="question5">
        <h3>Yay, dog park time! What&#8217s the best part?</h3>
          <div class="answers">
            <div class="answerA">
              <input type="radio" name="optionsRadios" value="answerA">  I&#8217ll walk around a little then find a comfy patch and let other dogs come over to say hi.</input>
              </div>
            <div class="answerB">
              <input type="radio" name="optionsRadios" value="answerB">  I CAN GREET ALL MY FRIENDS AND THEY GREET ME BACK AND YAY WE&#8217RE MAKING SO MUCH NOISE THIS IS THE BEST DAY OF MY LIFE!!!</input>
              </div>
            <div class="answerC">
              <input type="radio" name="optionsRadios" value="answerC">  I find everything exciting, but the dog park is literally the most exciting place in the world! I could never choose which part I like best.</input>
              </div>
            <div class="answerD">
              <input type="radio" name="optionsRadios" value="answerD">  Smelling each and every other dog there. You can learn their whole life story with just one smell.</input>
              </div>
            <div class="answerE">
              <input type="radio" name="optionsRadios" value="answerE">  Getting to run with my best buddies before heading home with my human. Also, there is nothing breakable in the dog park.</input>
              </div>
            <div class="answerF">
              <input type="radio" name="optionsRadios" value="answerF">  It takes me awhile to get settled in, but once I do, I like to cautiously walk up to other dogs and gently sniff them.</input>
              </div>
            <div class="answerG">
              <input type="radio" name="optionsRadios" value="answerG">  Wait. Wait. Wait wait wait. You mean, you want ME to fraternize with the enemy? ABSOLUTELY NOT. That is the stupidest thing you&#8217ve ever suggested, and I think almost everything you suggest is dumb. </input>
            </div>
          </div>
      </div>
      
      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars"> 
      <br>

      <input type="image" src="img/quiz/SuperQuiz_Button.jpg" id="findResult" alt="What kind of Super Pup am I?">
      <!--<img src="img/quiz/SuperQuiz_Button.jpg" class="img-responsive" id="findResult" role="button"></a>-->
      <br>
      <img src="img/quiz/stars.jpg" class="img-responsive" alt="stars"> 

    </div>
  </div>

</body>
</html>